Apps/ShapeReconstruction/build/
Apps/ShapeModelBezier/build/
Apps/TestBezier/build/
*.zip             
*.pyc
*.pdf            
focal_plane_loc.txt             
volume_dif.txt
surface_dif.txt           

